<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867999155301-ds9mm5eapucrkkuovhn8gu9u06tpqgnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867999155301-ds9mm5eapucrkkuovhn8gu9u06tpqgnp</string>
	<key>API_KEY</key>
	<string>AIzaSyC22Kd0H-whsCo_28lb1Zo9_meeJub1moc</string>
	<key>GCM_SENDER_ID</key>
	<string>867999155301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safdarsikander.jamrocktaxi</string>
	<key>PROJECT_ID</key>
	<string>jamrocktaxi-b40ae</string>
	<key>STORAGE_BUCKET</key>
	<string>jamrocktaxi-b40ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867999155301:ios:1b96c83c6372e7bb65b28c</string>
	<key>DATABASE_URL</key>
	<string>https://jamrocktaxi-b40ae-default-rtdb.firebaseio.com</string>
</dict>
</plist>